__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.bak
*.tmp
*.~*
*.swp
*.swo
.cache/
logs/
filestore/
*.log
*.pid
*.session
*.dump
*.zip
*.db
*.rdb
.env
.env.*
*.sqlite3
.vscode/
.idea/
*.code-workspace
node_modules/
.npm/
.coverage
.DS_Store
Thumbs.db
